*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:Arial;
background:#dff6ff;
}

header{
background:#0077b6;
color:white;
text-align:center;
padding:30px;
}

.hero{
text-align:center;
padding:80px 20px;
background:white;
margin:20px;
border-radius:15px;
}

.hero h2{
font-size:40px;
color:#0077b6;
}

.contenedor{
max-width:500px;
margin:auto;
background:white;
padding:20px;
border-radius:15px;
}

form{
display:flex;
flex-direction:column;
gap:15px;
}

input,
textarea{
padding:12px;
border-radius:10px;
border:1px solid #ccc;
}

button{
background:#0077b6;
color:white;
border:none;
padding:12px;
border-radius:10px;
cursor:pointer;
}

button:hover{
background:#023e8a;
}

footer{
margin-top:30px;
background:#0077b6;
color:white;
text-align:center;
padding:20px;
}
